<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <title>LIUSONG</title>
		<link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
        <meta charset="utf-8" />
        <meta content="IE=edge" http-equiv="X-UA-Compatible" />
        <meta content="width=device-width, initial-scale=1" name="viewport" />
		
		<!-- 新 Bootstrap 核心 CSS 文件 -->
		<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/css/layout.css">
		<link rel="stylesheet" href="/static/css/min_layout.css">
		
		<link rel="stylesheet" href="/static/css/data_observer.css">
    </head>
	<body>
	<header class="navbar-fixed-top">
		<div class="container">
			<nav role="navigation" class="navbar navbar-default navbar-inverse">
				<div class="navbar-header"><button type="button" data-toggle="collapse" data-target="#navbar-collapse" class="navbar-toggle"><span class="sr-only">展开导航</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
					<a href="/data_observer" class="navbar-brand">data_observer</a>
				</div>
				<div id="navbar-collapse" class="collapse navbar-collapse"><ul class="nav navbar-nav"><li><a href="//blog.liusong.me">我的博客</a></li></ul></div>
			</nav>
		</div>
	</header>
		<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<table class="table table-bordered" >
			<tr>
				<td class="col-md-6 text-center">图例</td>
			</tr>
			<tr>
			<th class="col-md-6 text-center" id="myTable">
			<div class="progress">
		  		<div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
		 	   	</div>
			</div>
			</th>
			</tr>
			</table>
		</div>
		
		<!-- scripts -->
		<script src="http://lib.sinaapp.com/js/jquery/1.10.2/jquery-1.10.2.min.js"></script>
		<script src="/static/js/d3.js"></script>
		<script src="/static/js/d3-line-chart.js"></script>
		<script src="/static/js/data_observer.js"></script>
	</body>
</html>
